//*** Base: HTML ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "HTML";

/* ### #{$_module-name} START */

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  font-size: 100%;
  line-height: 1.2;
}


/* ### #{$_module-name} END
/* ------------------------------------------------------------ */